importFrom("grDevices", "colorRampPalette", "dev.new")
importFrom("graphics", "abline", "axis", "box", "matlines", "par",  "title")
importFrom("stats", "as.dendrogram", "as.dist", "cutree", "dist", "hclust", "order.dendrogram", "runif")
importFrom("utils", "combn", "read.delim", "read.table", "tail", "write.table")
importFrom("RColorBrewer", "brewer.pal")
export(diffDist,
       FragMatch,
       germ,
       linCombDist,
       RFLPqc,
       RFLPdist,
       RFLPdist2,
       RFLPplot,
       RFLPdist2ref,
       RFLPrefplot,
       RFLPcombine,
       RFLPlod,
       nrBands,
       read.blast,
       read.rflp,
       simMatrix,
       sim2dist,
       simulateRFLPdata,
       write.hclust)
